.dropdown-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    background: transparent;
    position: relative;
    margin-right: 20px;
}

.dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;
}

.icon {
    position: relative;
    top: 2px;
    font-size: 1rem;
    transition: transform 0.3s ease;
    padding-left: 10px;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    width: 200px;
    background: #171717;
    color: white;
    transform-origin: top left;
    position: absolute;
    top: 40px;
}

.dropdown-menu a {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s ease;
    color: #fff;
}

.dropdown-menu a:hover {
    background: #d3d3d36b;
    /* border-radius: 7px; */
}

/* #openDropdown:checked + .dropdown-menu {
    display: flex;
    animation: openDropDown 0.4s ease 0s 1 forwards;
} */


@keyframes openDropDown {
    from {
        transform: rotateX(50deg);
    }
    to {
        transform: rotateX(0deg);
    }
}
